body {
  background-image: url("http://jmvtestsite.com/wp-content/uploads/2016/08/background-sky.jpg");
  font-family: 'Roboto';
  background-size: 100%;
  padding: 20px;
}

/*this is the overall square displayed*/
.displayCondition {
  font-weight: bold;
  display: none;
  padding: 10px;
  width: 10%;
  height: 27vw;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 50px;
  border: 3px solid purple;
  font-family: 'Droid Serif', serif;
  /*font-size: 14px;*/
  font-size: 1.2vw;
  background-color: antiquewhite;
  overflow: hidden;
}

#headerTitle {
  padding: 20px;
  color: darkslategray;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

#day0, #day1, #day2, #day3, #day4, #day5, #day6{
  font-size: 1.5vw;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

#high0, #high1, #high2, #high3, #high4, #high5, #high6 {
  display: block;
  font-size: 1.4vw;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

#inputLine {
  text-align: center;
  display: block;
  margin: 0 auto;
}

#instructions {
  font-family: 'Arial';
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 1px;
  text-align: center;
}

#low0, #low1, #low2, #low3, #low4, #low5, #low6 {
  display: block;
  font-size: 1.4vw;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

#setColumns {
  display: block;
  height: 20%;
  margin: 0 auto;
  padding-left: 10vw;
}

#weather_desc0, #weather_desc1, #weather_desc2, #weather_desc3, #weather_desc4, #weather_desc5, #weather_desc6 {
  display: block;
  font-size: 1vw;
  margin: 0 auto;
  text-align: center;
}

#weather_img_icon0, #weather_img_icon1, #weather_img_icon2, #weather_img_icon3, #weather_img_icon4, #weather_img_icon5, #weather_img_icon6 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 650px) {
    #weather_img_icon0, #weather_img_icon1, #weather_img_icon2, #weather_img_icon3, #weather_img_icon4, #weather_img_icon5, #weather_img_icon6 {
    width: 5vw;
  }
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
